body {
    font-family: Arial, sans-serif;
}

 h1 {
    text-align: center;
}

.color {
    background-color: #006aff; /* Primary box color */
    color: white;
    padding: 20px;
    margin: 20px 0;
}
.color2 {
    background-color: #eb0f0fd4; /* Secondary box color */
    color: white;
    padding: 20px;
    margin: 20px 0;
}
.box {
    width: 200px; /* Width of the box */
    height: 100px; /* Height of the box */
    border: 2px solid; /* Border style (solid) and width (2px) */
    border-color: black; /* Border color */
}
