body {
    font-family: Arial, sans-serif;
}

 h1 {
    text-align: center;
}

.color {
    background-color: #006aff; /* Primary box color */
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.color2 {
    background-color: #eb0f0fd4; /* Secondary box color */
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

